<!DOCTYPE html>
<html>
<head>
    <title>Lit Blog Panel | Settings</title>
    link(rel="shortcut icon", href=settingData.siteIcon)
    include header.pug
</head>
<body>
    <div class="d-flex" id="wrapper">
        include sidebar.pug
        <div id="page-content-wrapper">
            include navbar.pug
            <div class="container m-4 pr-4">
                <p class="panelHead mb-3">Settings</p>
                <form action="/settings/edit" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Site Name</label>
                        input(type="text" class="form-control" name="sitename" value=settingData.siteName required)
                    </div>
                    <div class="form-group">
                        <label>Site Description</label>
                        textarea(class="form-control" rows="3" name="sitedescription" required)= settingData.siteDescription
                    </div>
                    <div class="form-group mb-3">
                        <label>Site Thumbnail</label>
                        <div class="custom-file">
                            <input type="file" accept="image/*" class="custom-file-input" id="siteImgInput" name="siteimage">
                            <label class="custom-file-label">Choose file</label>
                        </div>
                    </div>
                    <div class="imgContainer mb-3">
                        img(id="siteImgPreview" src=settingData.siteImage)
                    </div>
                    <div class="form-group mb-3">
                        <label>Site Icon</label>
                        <div class="custom-file">
                            <input type="file" accept="image/*" class="custom-file-input" id="iconImgInput" name="siteicon">
                            <label class="custom-file-label">Choose file</label>
                        </div>
                    </div>
                    <div class="imgContainer mb-3">
                        img(id="iconImgPreview" src=settingData.siteIcon)
                    </div>
                    <button type="submit" class="btn successBtn">Save Changes <i class="las la-check"></i></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>